{% extends 'base.html.twig' %}

{% block title %}Hello PostController!{% endblock %}

{% block body %}

    <p>{{post.body}}</p>
    <a href="{{ path("edit_post",{'slug': post.slug}) }}">Edit</a>
    <a href="{{ path("delete_post",{'slug': post.slug}) }}">Delete</a>

{% endblock %}